<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <style>
      .emoji {
          font-size: 34px; /* ปรับขนาดของอิโมจิตามต้องการ */
      }
  </style>
  </head>
  <body>
    {% include "navbar.html" %}

    <div class="container-fluid">
      <div class="row mt-5 mb-5">
        <div class="col-md-6">
          <img
            src="{{ url_for('video_feed') }}"
            width="100%"
            class="img-thumbnail"
          />
        </div>
        <div class="col-md-6" style="height: 500px; overflow-y: auto">
          <h3 id="scanCount">Number of Scans Today: <span id="scanCountValue">0</span></h5>
          <div id="scandata" class="card-rows">
            <!-- Cards will be dynamically added here -->
          </div>
        </div>
      </div>
    </div>


<script type="text/javascript">
    $(document).ready(function () {
      let lastcnt = 0;
      let cnt;
      chkNewScan();
  
      function chkNewScan() {
        countTodayScan();
        setTimeout(chkNewScan, 1000);
      }
  
      function countTodayScan() {
        $.ajax({
          url: '/countTodayScan',
          type: 'GET',
          dataType: 'json',
          success: function (data) {
            cnt = data.rowcount;
            if (cnt > lastcnt) {
              reloadCards();
              updateScanCount(cnt);
            }
  
            lastcnt = cnt;

          },
          error: function (result) {
            console.log('Error in countTodayScan:', result);
          }
        });
      }
  
      function reloadCards() {
    $.ajax({
        url: "/loadData",
        type: "GET",
        dataType: "json",
        success: function (response) {
            console.log('Response:', response); // Log the response to check its structure

            var cardContainer = $("#scandata");
            cardContainer.empty();

            // Display only the latest 4 cards
            if (response && response.response && Array.isArray(response.response)) {
                for (let i = 0; i < Math.min(response.response.length, 3); i++) {
                    const currentItem = response.response[i];

                    if (currentItem && Array.isArray(currentItem) && currentItem.length >= 6) {
                        let emotion = currentItem[3];
                        let emoji = '';
                        let emo_name = '';

                        if (emotion === 'happy') {
                          emoji = '<span class="emoji"> 😊</span>';
                          emo_name = 'happy'; 
                        }else if (emotion === 'sad'){
                          emoji = '<span class="emoji"> 😥</span>'
                          emo_name = 'sad'; 
                        }else if (emotion === 'surprice'){
                          emoji = '<span class="emoji"> 😮</span>'
                          emo_name = 'surprice'; 
                        }else if (emotion === 'neutral'){
                          emoji = '<span class="emoji"> 😐</span>'
                          emo_name = 'neutral'; 
                        }else if (emotion === 'angry'){
                          emoji = '<span class="emoji"> 😡</span>'
                          emo_name = 'angry'; 
                        }else if (emotion === 'fear'){
                          emoji = '<span class="emoji"> 😰</span>'
                          emo_name = 'fear'; 
                        }

                       cardContainer.append(
    '<div class="card mb-3" style="max-width: 450px;max-height:200px">' +
    '<div class="row g-0">' +
    '<div class="col-md-4">' +
    '<img src="data:image/jpeg;base64,' +
    currentItem[1] +
    '" class="img-fluid rounded-start" alt="Image">' +
    '</div>' +
    '<div class="col-md-8">' +
    '<div class="card-body">' +
    '<h5 class="card-text"> ' + currentItem[2] + '</h5>' +
    '<span class="card-text"><span style="font-size: 34px;margin-bottom:5px">' + (currentItem[5] === 'Man' ? '🧔🏻 ' : '👱🏻‍♀️ ') +'</span>'+ currentItem[4] +'</span>' +
    '<span class="card-text"><span style="font-size: 34px;">' + emoji +'</span>'+ emo_name +'</span>' +
    '</div>' +
    '</div>' +
    '</div>' +
    '</div>' +
    '</div>'
);




                    }
                }
            }
        },
        error: function (result) {
            console.log('Error in reloadCards:', result);
        }
    });
}

      function updateScanCount(count) {
          // Update the content of the span with the scan count
          $("#scanCountValue").text(count);
        }
    });
  </script>  
  </body>
</html>