<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <style>
      .emoji {
        font-size: 34px;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    {% include "navbar.html" %}

    <div class="container-fluid">
      <div class="row mt-5 mb-5">
        <div class="col-md-6">
          <img
            src="{{ url_for('video_feed') }}"
            width="100%"
            class="img-thumbnail"
          />
        </div>
        <div class="col-md-6" style="height: 500px; overflow-y: auto">
          <h3 id="scanCount">
            Number of Scans Today: <span id="scanCountValue">0</span>
          </h3>
          <div id="scandata" class="card-rows">
            <!-- Cards will be dynamically added here -->
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        let lastcnt = 0;
        let cnt;

        // Function to load detection details from API
        function loadDetectionDetails() {
          $.ajax({
            url: "http://localhost:8081/loadData",
            type: "GET",
            dataType: "json",
            success: function (response) {
              console.log("Detection:", response);

              // Clear previous cards
              $("#scandata").empty();

              // Make sure to access the data correctly based on the response structure
              const detections = response.response || response; // Adjust based on actual response structure

              // Limit the number of detections to show only the latest 3
              const latestDetections = detections.slice(0, 3);

              // Iterate through response and create cards for the latest 3 detections
              latestDetections.forEach(function (currentItem) {
                let emoji = "";

                if (currentItem.det_emo === "happy") {
                  emoji = '<span class="emoji"> 😊</span>';
                } else if (currentItem.det_emo === "sad") {
                  emoji = '<span class="emoji"> 😥</span>';
                } else if (currentItem.det_emo === "surprice") {
                  emoji = '<span class="emoji"> 😮</span>';
                } else if (currentItem.det_emo === "neutral") {
                  emoji = '<span class="emoji"> 😐</span>';
                } else if (currentItem.det_emo === "angry") {
                  emoji = '<span class="emoji"> 😡</span>';
                } else if (currentItem.det_emo === "fear") {
                  emoji = '<span class="emoji"> 😰</span>';
                }

                const cardHtml = `
                <div class="card mb-3" style="max-width: 450px; max-height:200px">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="data:image/jpeg;base64,${
                              currentItem.img_base64
                            }" alt="Image" style="width: 100%;">

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-text">${
                                  currentItem.emp_name
                                }</h5>
                                <span class="card-text"><span style="font-size: 34px;margin-bottom:5px">${
                                  currentItem.det_gender === "Man"
                                    ? "🧔🏻 "
                                    : "👱🏻‍♀️ "
                                } </span>${currentItem.det_age}</span>
                                <span class="card-text">${emoji} ${
                  currentItem.det_emo
                }</span>

                            </div>
                        </div>
                    </div>
                </div>
            `;

                // Append card HTML to container
                $("#scandata").append(cardHtml);
              });
            },
            error: function (error) {
              console.log("Error in loadDetectionDetails:", error);
              // Optionally, inform the user that data couldn't be loaded
            },
          });
        }

        // Function to update scan count
        function updateScanCount(count) {
          $("#scanCountValue").text(count);
        }

        // Function to periodically update detection details and scan count
        function updateData() {
          loadDetectionDetails();
          countTodayScan();
          setTimeout(updateData, 1000); // Update every 10 seconds
        }

        // Function to get today's scan count
        function countTodayScan() {
          $.ajax({
            url: "http://localhost:8081/countTodayScan",
            type: "GET",
            dataType: "json",
            success: function (data) {
              updateScanCount(data.rowcount);
            },
            error: function (result) {
              console.log("Error in countTodayScan:", result);
            },
          });
        }

        // Initial setup
        updateData();
      });
    </script>
  </body>
</html>